@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: "Jiho-Regular";
}

/* Theme Colors */

/* Fonts */
@font-face {
  font-family: "Jiho-Light";
  src: url("../fonts/Jiho-Light.otf") format("opentype"),
    url("../fonts/Jiho-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

.font-jiho-light {
  font-family: "Jiho-Light";
}

@font-face {
  font-family: "Jiho-Regular";
  src: url("../fonts/Jiho-Regular.otf") format("opentype"),
    url("../fonts/Jiho-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.font-jiho-regular {
  font-family: "Jiho-Regular";
}

@font-face {
  font-family: "Jiho-Medium";
  src: url("../fonts/Jiho-Medium.otf") format("opentype"),
    url("../fonts/Jiho-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.font-jiho-medium {
  font-family: "Jiho-Medium";
}

@font-face {
  font-family: "Jiho-Bold";
  src: url("../fonts/Jiho-Bold.otf") format("opentype"),
    url("../fonts/Jiho-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.font-jiho-bold {
  font-family: "Jiho-Bold";
}
