@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
}

@theme {
  --color-grey-lighter: #f7f8fc;
  --color-grey-light: #dbe2e6;
  --color-dark: #030303;
  --color-grey-darker: #535353;
  --color-grey-dark: #666666;
  --color-primary: #dc1510;
  --color-primary-darker: #9c2016;
  --color-secondary: #233763;
  --color-secondary-darker: #141f38;
}

body {
  font-family: "Jiho-Regular";
  @apply bg-white;
}

.dark body {
  @apply bg-dark;
}

@font-face {
  font-family: "Jiho-Light";
  src: url("../fonts/Jiho-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

.font-jiho-light {
  font-family: "Jiho-Light";
}

@font-face {
  font-family: "Jiho-Regular";
  src: url("../fonts/Jiho-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.font-jiho-regular {
  font-family: "Jiho-Regular";
}

@font-face {
  font-family: "Jiho-Medium";
  src: url("../fonts/Jiho-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.font-jiho-medium {
  font-family: "Jiho-Medium";
}

@font-face {
  font-family: "Jiho-Bold";
  src: url("../fonts/Jiho-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.font-jiho-bold {
  font-family: "Jiho-Bold";
}
